/* Reset */
*{margin: 0; padding: 0;}
ul{margin: 0;padding: 0} li{list-style: none;}
h1, h2, h3, h4, h5 {margin: 0; padding: 0;}
p{font-size: 13px; line-height: 27px;}
a, a:hover{text-decoration: none}

/* TYPOGRAPHIE CLASSES */
.mt100{margin-top: 100px} .mt80 {margin-top: 80px} .mt30{margin-top: 30px} .mt20{margin-top: 20px} .mt10{margin-top: 10px}
.mb30{margin-bottom: 30px} .mb20{margin-top: 20px} .mb20{margin-bottom: 20px}
.pdg50{padding: 50px 0} .pdg80{padding: 80px 0} .nopdg{padding: 0;} .nomrg{margin: 0}
.mr6{margin-right: 6px} .ml6{margin-left: 6px} .mr30{margin-right: 30px}
.FBold{font-weight: bold} .NoBkg{background: none;} .NoBorder{border: 0; border-radius: 0}
/* COLORS */
.white{color: #FFF} .blue{color:#2e70a1}
.yellow{color: #fff200}
.BlueBkg{background:#2e70a1 }
/* LINES AND DIVIDERS */
.subTitle{font-size: 19px}.disInlBlk{display: inline-block}
.divider{width: 100%; background: #eaeaea; height:1px; margin: 20px 0  20px 0}
.sub-line {width: 50px; height: 3px; background: #FFB606; margin: 20px auto}
.footer-line {width: 25px; height: 3px; background: #FFB606; margin-top: 20px}
/* RESET */
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #74bedf;
    border-radius: 100%;
}
/* BUTTONS */
.BlueButton {
    display: inline-block;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 9px 12px;
    font-size: 14px;
    background: #2e70a1;
    margin-top: 20px;
    width: 138px;
    height: 38px;
}

.BlueButton:hover, .BlueButton:focus{color: white; text-decoration: none;}
.Fullw-BlueButton {
    display: inline-block;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 9px 12px;
    font-size: 14px;
    background: #ffb606;
    margin-top: 20px;
    width: 100%;
    height: 38px;
    transition:all .3s;
}
.Fullw-BlueButton:hover, .Fullw-BlueButton:focus{
  color: #333;
  text-decoration: none;
  background: none;
  border: 1px solid #ffb606
}
/* HEADER  */
header .nav {min-height: 30px; padding: 10px 0; z-index: 9999}
header .nav li {font-size: 14px; color: #333}
header .nav>li>a {padding-top: 20px;padding-right: 30px;}
header .navbar-default .navbar-nav>li>a {transition:all .3s; font-size: 14px;}
header .navbar-default .navbar-nav>li>a:hover {color:#2e70a1}
header .navbar-default .navbar-toggle{border: 0;margin-top: 20px;}
header .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background: none}
header .navbar-default .navbar-toggle .icon-bar {background-color:#2e70a1 }
header .navbar-right .dropdown-menu { right: 0; left: 0;}
header .dropdown-menu li a, header .dropdown-menu li a:hover {color: #333;background: none;}
/* REST THE DROPDOWN MENU */
.navbar-nav>li>a{padding: 0}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{background: none}

/**/
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse,
.container>.navbar-header{margin-right: -16px}
.HomeNavbar>li>.dropdown-menu{margin-top: 29px}
.HomeNavbar>li>.dropdown-menu a{padding: 13px}

/* BREADCRUMBS */
.Breadcrumbs {
  background-image: url(../images/Bkg/Bkg-image1.png);
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: cover;
  padding: 160px 0
}
.Breadcrumbs .Breadcrumbs-content ul li {display: inline-block; margin: 7px}
.Breadcrumbs .Breadcrumbs-content ul li a, .Breadcrumbs .Breadcrumbs-content ul li a:hover {color: #fff; text-decoration: none}

.active {font-weight: bold;}
/* PAYMENT METHODE */
.payment-methode {
  background: #f7f7f7;
  padding: 50px 0
}
.payment-methode .money-cards ul li{ display: inline-block; }
.payment-methode .money-cards .money-card {
  width: 44px;
  height: 27px;
  margin-left: 12px
}
/*************************************************************
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.............. LOGIN & REGESTRATION  PAGES ..................:
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*************************************************************/
.LoginPage .LoginForm .form-control{
  border-radius: 0;
  border: 1px solid #ddd;
  background: none;
  box-shadow: none;
  height: 47px;
}
.LoginPage .LoginForm .form-text a {
  color: #666
}


/*************************************************************
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
..................... FOOTRE ................................:
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*************************************************************/
footer{
  width: 100%;
  padding: 100px 0;
  background:#111111;
  background-size: cover;
  background-position: center;
}

.interSearchBox{display: none}
footer .footerContent .about-info ul li{
  margin-top: 10px
}
footer .footerContent .about-money ul li{
  display: inline-block;
  margin-right: 14px;
}
footer .footerContent .footerCategories ul li a{color: #666}
footer .footerContent .footerCategories ul li{margin-bottom: 14px}
footer .footerContent .footer-About {color: #666}
footer .footerBottom .copyright a, footer .footerBottom .copyright a:hover {color: #2e70a1; text-decoration: none}
footer .footerBottom .copyright{color: white}
.line{
  width: 100%;
  height: 1px;
  background: #ffffff;
  opacity: .2
}
.footerSocialMedia li{
  display: inline;
  margin-right: 15px;
}
footer .footerBottom ul li a {color: white}
footer .socialIocns{
    font-size: 16px;
    width: 32px;
    height: 32px;
    line-height: 34px;
    border: 1px solid #999;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
footer .fa-fb:hover{background-color: #3B5998 ;color: white;  transition: all 0.5s ease-in-out;}
footer .fa-tw:hover{background-color: #1DA1F2 ;color: white;  transition: all 0.5s ease-in-out;}
footer .fa-lk:hover{background-color: #0077B5 ;color: white;  transition: all 0.5s ease-in-out;}
footer .fa-inst:hover{background-color: #222 ;color: white;  transition: all 0.5s ease-in-out;}
footer .fa-yt:hover{background-color: #DB4437 ;color: white;  transition: all 0.5s ease-in-out;}
/* ***************** ADD FILES ****************** */
/* FILE UPLOAD WIDGET*/
#file{
  visibility: hidden; width: 1px;}
.input-label{
  background: #fff;
  border: 1px solid #2e70a1;
  color: #2e70a1;
  padding: 14px 35px;
  cursor: pointer;
}
/*************************************************************
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
..................... loadScreen ............................:
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*************************************************************/
.loadScreen {
    overflow: hidden;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: #2e70a1;
    color: white;
    position: fixed;
    left: 0; top: 0;
    padding-top: 200px
}
.spinner {
  width: 40px;
  height: 40px;
  background-color:#FFF;
  margin: 100px auto;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}


@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);

  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);

  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);

  }
}
